.about {
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(95, 229, 218, 0.58) 158.93%);

    /* layout */
    display: flex;
    padding: 100px 120px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* text */
    color: #000;
    font-family: "Pretendard";
    flex-direction: column;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
}

.about h2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2%;
    line-height: 130%;
}

.about h2 img {
    width: 50px;
}

.about p {
    display: flex;
    align-items: center;
    margin-top: 0%;
    width: 100%;
    font-weight: 400;
}