/* about */
.aboutContainer {
    background: linear-gradient(
      96deg,
      rgba(189, 210, 255, 0.4) 1.72%,
      rgba(105, 222, 212, 0.605) 158.93%
    );
  }
  
  .about {
    max-width: 960px;
    margin: 0 auto; /* max-width, margin: 0 auto 같이 씀. 좌우 auto로 해서 가운데 정렬 됨 */
    padding: 80px 40px;
  }

  .about h2 {
    color: #000;
    font-size: 30px;
    /* white-space: pre-line; */
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
  }
  
  .about p {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    white-space: pre-line;
  }

.flyingPerson {
    width: 90px;
    height: 90px;
    position: absolute;

    top: -100px;
    bottom: 48px;
    /* right: 0px; */
    left: 165px;
  }
  
  .posRelative {
    position: relative;
  }

  
  /* skills */
  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    gap: 80px;

    text-align: center;
    font-family: "Pretendard";
    letter-spacing: -0.8px;
  }
  
  .skills {
    margin: 0 auto;
    padding: 80px 40px;
  }

  .skills h2 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 65% */
  }

  .skills p {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
  }