/* -----about----- */
.aboutContainer {
    background: linear-gradient(
      96deg,
      rgba(189, 210, 255, 0.4) 1.72%,
      rgba(105, 222, 212, 0.605) 158.93%
    );
  }
  
  .about {
    max-width: 960px;
    margin: 0 auto; /* max-width, margin: 0 auto 같이 씀. 좌우 auto로 해서 가운데 정렬 됨 */
    padding: 80px 40px;
  }

  .about h2 {
    color: #000;
    font-size: 30px;
    /* white-space: pre-line; */
    font-style: normal;
    font-weight: 700;
    line-height: 125%; /* 50px */
    letter-spacing: -0.8px;
  }
  
  .about p {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    white-space: pre-line;
  }

.flyingPerson {
    width: 90px;
    height: 90px;
    position: absolute;

    top: -100px;
    bottom: 48px;
    /* right: 0px; */
    left: 165px;
  }
  
  .posRelative {
    position: relative;
  }

  
  /* -----skills----- */
  .skillsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    gap: 0px;

    text-align: center;
    font-family: "Pretendard";
    letter-spacing: -0.8px;
  }
  
  .skills {
    margin: 0 auto;
    padding: 80px 40px;
  }

  .skills h2 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 65% */
    padding-bottom: 20px;
  }

  .skills p {
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 70px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;

    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .grid-item {
    width: 100%;
    max-width: 150px;
    text-align: center;
}

  .grid-item img {
    max-width: 100%;
    height: auto;
  }


/* --project-- */
.projectContainer {
  display: flex;
  padding: 80px 100px 100px 100px;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  gap: 30px;
}

.projectContainer h2 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.8px;
}

.project-item {
  display: flex;
  padding: 8% 8% 8% 8%;
  align-items: center;
  align-self: stretch;
  
  background: linear-gradient(
      96deg,
      rgba(189, 210, 255, 0.4) 1.72%,
      rgba(105, 222, 212, 0.605) 158.93%
    );
  border-radius: 20px;
}

.project-item-left {
  flex-direction: column;
  padding-left: 10%;
}

.project-item h5 {
  color: #403930;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.project-item p {
  align-self: stretch;
  color: #403930;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.project-item-right {
  margin-left: 20%;
}

.project-item-right img {
  flex-shrink: 0;
  align-items: center;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;

  border-radius: 16.08px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  width: 155.099px;
  height: 327.965px;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* 이미지 사이에 간격을 조절 */
}

.project-item-left-link {
  padding-top: 20px;
  flex-direction: row;
  box-sizing: border-box;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-decoration-line: underline;

  gap: 10px;
}

.project-item-left-link a {
  color: #333;
}

.projectLink1 {
  padding-right: 10px;
}


/* --Experience-- */
.ExperienceContainer {
  display: flex;
  padding: 80px 100px 100px 100px;
  justify-content: center;
  align-items: center;
  background: rgba(244, 244, 244, 0.50);
  flex-direction: column;
  gap: 30px;
}

.ExperienceContainer h2 {
  color: #000;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.8px;
}

.experience-item {
  display: flex;
  padding: 8% 8% 8% 8%;
  align-items: center;
  align-self: stretch;
  
  background: linear-gradient(
      96deg,
      rgba(227, 232, 155, 0.4) 1.72%,
      rgba(243, 121, 229, 0.605) 158.93%
    );
  border-radius: 20px;
}

.experience-item-left {
  flex-direction: column;
  padding-left: 5%;
}

.experience-item h5 {
  color: #403930;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 36px */
}

.experience-item p {
  align-self: stretch;
  color: #403930;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
}

.experience-item-right {
  margin-left: 20%;
}

.experience-item-right img {
  flex-shrink: 0;
  align-items: center;
  background: url(<path-to-image>), white 50% / cover no-repeat;

  border-radius: 16.08px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  max-width: 100%;
  height: auto;
}

.experience-item-left-link {
  padding-top: 20px;
  flex-direction: row;
  box-sizing: border-box;

  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 30px */
  text-decoration-line: underline;

  gap: 10px;
}

.experience-item-left-link a {
  color: #333;
}

.experienceLink1 {
  padding-right: 10px;
}